{% extends 'layout.html' %}
{% block title %}
		<title>Add Tips</title>
{% endblock %}
{% block body %}
		<h1>Add Tips to Recipe</h1>
		<h2>Tips available</h2>
		<form id="add_tips_form" method="post">
			<div name="tips" id="tips">
				<br>
				<label for="recipetips">Add Tips to the Recipe</label>
				<br>
				<h3>Equipment-related Tips</h3>
				<div name="equip_tips" id="equip_tips">
					{% for piece in recipe.equipment %}
					<h4>{{piece.text}}</h4>
						{% for tip in piece.recommend_tips() %}
							<label for=>{{tip.tip_name}}</label>
							<input type="radio" name={{piece.text}} id="{{tip.tip_name}}" value={{ tip.get_id()}}>
							<br>
						{% endfor %}
					{% endfor %}
				</div>
				<br>
				<h3>Ingredient-related Tips</h3>
				{% for piece in recipe.ingredients %}
				<h4>{{piece.text}}</h4>
					{% for tip in piece.recommend_tips() %}
						<label for=>{{tip.tip_name}}</label>
						<input type="radio" name="{{piece.text}}" id="{{tip.tip_name}}" value={{ tip.get_id()}}>
						<br>
					{% endfor %}
				{% endfor %}
				<br>
				<h3>Method-related Tips</h3>
				{% for piece in recipe.instructions %}
				<h4>{{piece.text}}</h4>
					{% for tip in piece.recommend_tips() %}
						<label for=>{{tip.tip_name}}</label>
						<input type="radio" name={{piece.text}} id="{{tip.tip_name}}" value={{ tip.get_id()}}>
						<br>
					{% endfor %}
				{% endfor %}
			</div>
			<br>
			<br>
			<input type="submit" name="add_tips" value="Add Tips">
		</form>
{% endblock %}
