<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Welcome to Sightless Chef</title>
  <meta name="description" content="We are a cooking website built for those who are visually impaired. We want user uploaded recipes by the visually impaired for the visually impaired, to create accessible recipes">
  <meta name="author" content=" TAD team">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS this is in the static directory
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="app/static/css/normalize.css">
  <link rel="stylesheet" href="app/static/css/skeleton.css">

<title> About AccessibleCooking </title>
</head>
<body>

  <!-- Primary Page Layout TODO improve/ switch this to our header styles. 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="twelve columns" style="margin-top: 25%"> <!-- should be sixteen columns -->
        <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="search.html">Search</a></li>
        <li><a href="upload_recipe_form.html">Submit</a></l>
        <li><a href="sign_in.html">Sign In</a></li>
      </ul>
      <h1>About BlindOven</h1>
      <p>
        We recognize that people who are visually impaired often find conventional cooking resources inaccessible. As such, BlindOven compiles accessible recipes written by amateur and professional chefs with visual impairments. We are the most comprehensive source of recipes and cooking tips for the blind, whether you are new to cooking with visual impairments or an experienced chef.
      </p>
      <h1>How to use BlindOven</h1>
      <p>
          We have two categories of user submitted content -- recipes and tips. You can search for 
          either from the <a href="search.html">search page</a>, linked in the menu. Tips can 
          range from knowing when your steak is done to measuring out a cup of oil, and related 
          tips will usually be located in recipe pages.
      </p>
      <p>
          If you want to save recipes or submit recipes, you will have to <a href="sign_in.html">create an account</a> from our sign-in page.
      </p>
      <h1>Why BlindOven?</h1>
      <p>
          Cooking resources are dispersed over the internet and in physical cookbooks. It can be 
          difficult to obtain cooking resources geared for people who have vision impairments; 
          most recipes and other instructions are written for people who can rely on visual clues. 
          Most cooking implements are also made to rely on visual indication. Additionally, many 
          recipe websites are difficult or impossible to navigate with a screen reader. Visually 
          impaired cooks need to hunt down applicable recipes, tips, videos, and other resources, 
          and then compile their own knowledge to compensate for the lack of truly accessible 
          recipes and resources. Many cooks also have to improvise ways to make use of common 
          sight-based cues. This can create a barrier to entry for someone who doesn’t know where 
          to start and a significant delay for the more experienced chef. 
      </p>
      <p>
          With BlindOven, we hope that no matter the level of experience, a visually impaired cook 
          can come to this website and quickly find a certain technique or recipe. These resources 
          will be screen reader friendly and may come with audio or visual supplements geared 
          towards audiences who are visually impaired. Users can upload their own recipes, tips, 
          or techniques, and comment on others'. Our goal is to concentrate resources in one place 
          and provide a living community that will allow people who are visually impaired to help 
          one another in the kitchen.
      </p>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>