{% extends 'layout.html' %}
  <title>Recipe Database Search</title>
  <meta name="description" content="Search page for the repository of recipes">

{% block body %}
	<div class="container">
		<!-- Search begins
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div class="nine columns">
			<h1>Search Recipes</h1>

			{% with messages = get_flashed_messages() %}
  			{% if messages %}
    			<ul class=flashes>
    				{% for message in messages %}
      				<li>{{ message }}</li>
    			{% endfor %}
    			</ul>
  			{% endif %}
			{% endwith %}
			{% from "_formhelpers.html" import render_field %}


			<form method=post>
				<dl>
					{{ render_field(form.select) }}
					<br>
					{{ render_field(form.search) }}
					<br>
					{{ render_field(form.tag_select) }}
				</dl>
				<p><input type="submit" value=Search></p>
			</form>


		<!-- body for search results
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<h2>Results</h2>
	{% if results and results.first() %}
	<dl>
		{% if search_type == 'recipe' %}
		{% for result in results %}
		<dt><a href="/{{search_type}}/{{result.get_id()}}">{{result.recipe_name}}</a></dt>
		<dd>{{result.description}}</dd>
		{% endfor %}
		{% endif %}

		{% if search_type == 'tip' %}
		{% for result in results %}
		<dt><a href="/{{search_type}}/{{result.get_id()}}">{{result.tip_name}}</a></dt>
		<dd>{{result.description}}</dd>
		{% endfor %}
		{% endif %}
	</dl>
	{% else %}
	<p>No results found</p>
	{% endif %}
</body>
{% endblock %}
