{% extends 'layout.html' %}
	{% block title_desc %}
	<title>Tips</title>
	<meta name="description" content="Template in which to render information about a tip">
	{% endblock %}
	{% block body %}
		<h1>{{ tip.tip_name }}</h1>
		<h2>Supplemental Media</h2>
			{% if tip.media_type == 'Video' %}
			<label for="video">Video Supplement</label>
			<br>
			<iframe width="854" height="480"
				src={{ "https://www.youtube.com/embed/" + tip.video_id }} frameborder="0"
				allowfullscreen id="video"></iframe>
			{% endif %}
			{% if tip.media_type == 'Audio' %}
			<label for="audio">Audio Supplement</label>
			<a href={{ tip.media_url }} target="_blank" id="audio">Link to supplemental audio. Opens in new tab</a>
			{% endif %}
			{% if tip.media_type == 'No Supplemental Media' %}
			<p>There is no supplemental media for this tip</p>
			{% endif %}
		<h2>About</h2>
			<h3>Description</h3>
				<p>{{ tip.description }}</p>
			<h3>Difficulty</h3>
				<p>{{ tip.difficulty }}</p>
		<!-- <h2>Equipment</h2>
			<ul>
				{% for equipment in tip.equipment %}
				<li>{{ equipment }}</li>
				{% endfor %}
			</ul>
		<h2>Ingredients</h2>
			<ul>
				{% for ingredient in tip.ingredients %}
				<li>{{ ingredient }}</li>
				{% endfor %}
			</ul> -->
		<h2>Instructions</h2>
			<ol>
				{% for instruction in tip.instructions %}
				<li>{{ instruction }}</li>
				{% endfor %}
			</ol>
	{% endblock %}
