<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Tip Upload Success</title>
  <meta name="description" content="tip uploaded successfully">
  <meta name="author" content="mf">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS this is in the static directory
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">

  <title> Tip Upload Success! </title>
 </head>
 
 <!-- the body of the page
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>
	<div class="container">
		<div class="nine columns">
			<h1>Tip Uploaded Successfully!</h1>
		</div>
	</div>	
</body>
</html>
